$background-main: #f5f5f5;
$text-color-main: #333;

$card-width-mobile: 45vw;
$card-width-tablet: 110px;
$card-width-desktopM: 170px;
$card-width-desktopL: 250px;

$catalog-width-mobile: 100vw;
$catalog-width-tablet: $card-width-tablet * 4 + 60px;
$catalog-width-desktopM: $card-width-desktopM * 4 + 60px;
$catalog-width-desktopL: $card-width-desktopL * 4 + 60px;

