@import '../../SCSS-utils/variables';
@import '../../SCSS-utils/mixins';

.categories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  list-style: none;
  background-color: $background-main;
  transform: translateX(-150%);
  transition: 0.3s;

  @include onTablet {
    position: sticky;
    top: 3rem;
    z-index: 0;
    width: 224px;
    height: min-content;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    top: 10%;
    margin: 5px;
    text-align: center;

    @include onTablet {
      top: 0;
      margin-bottom: 10px;
      text-align: start;
    }
  }

  &__link {
    width: 240px;
    font-size: 18px;
    text-decoration: none;
    color: $text-color-main;
    cursor: pointer;

    @include onTablet {
      font-size: inherit; 
    }

    &:hover::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #eaeaea;
    }

    &--active {
      color: $text-color-main;
      font-weight: 600;
      pointer-events: none;
    }
  }

  &__button--close {
    position: absolute;
    width: auto;
    right: 15px;
    top: 25px;
    padding: 0 4px;
    border: 1px solid $text-color-main;
    border-radius: 10%;

    &:hover::after {
      height: 0;
    }
  }
}