@import '../../SCSS-utils/variables';
@import '../../SCSS-utils/mixins';

.categories {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  list-style: none;
  background-color: $background-main;
  transform: translateX(-150%);
  transition: 0.3s;

  @include onTablet {
    position: sticky;
    top: 3rem;
    z-index: 0;
    width: 224px;
    height: min-content;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    margin: 5px;
  }

  &__button {
    background-color: $background-main;
    width: 240px;
    text-align: start;
    font-size: 12px;
    color: $text-color-main;
    border: 0;
    cursor: pointer;

    @include onTablet {
      font-size: inherit;
    }

    &:hover::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #eaeaea;
    }

    &--close {
      position: absolute;
      width: auto;
      right: 10px;
      top: 10px;
      padding: 0 4px;
      border: 1px solid $text-color-main;
      border-radius: 25%;

      &:hover::after {
        height: 0;
      }
    }

    &:disabled {
      color: $text-color-main;
      font-weight: 600;
    }
  }
}