@import '../../SCSS-utils/variables';
@import '../../SCSS-utils/mixins';
@import '../../SCSS-utils/functions';

.catalog-list {
  @include catalogWidth($catalog-width-mobile);

  display: flex;
  flex-wrap: wrap;
  min-width: $catalog-width-mobile;
  list-style: none;
  margin-bottom: 30px;

  @include onTablet {
    @include catalogWidth($catalog-width-tablet);

    gap: 20px;
    margin-bottom: 50px;
  }

  @include onDesktopM {
    @include catalogWidth($catalog-width-desktopM);

    margin-bottom: 70px;
  }

  @include onDesktopL {
    @include catalogWidth($catalog-width-desktopL);

    margin-bottom: 90px;
  }
}
