@import '../../SCSS-utils/variables';
@import '../../SCSS-utils/mixins';
@import '../../SCSS-utils/functions';

.catalog-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  transition: 0.3s;

  &--slim {
    gap: 20px;
  }

  @include onTablet {
    @include catalogWidth($catalog-width-tablet);

    justify-content: flex-start;
    margin-bottom: 50px;
    max-height: 700px;

    &--slim {
      justify-content: flex-start;
      gap: 0;
      max-height: 542px;
    }
  }

  @include onDesktopM {
    @include catalogWidth($catalog-width-desktopM);

    margin-bottom: 70px;
    max-height: 700px;

    &--slim {
      max-height: 542px;
    }
  }

  @include onDesktopL {
    @include catalogWidth($catalog-width-desktopL);

    margin-bottom: 90px;
    max-height: 888px;

    &--slim {
      max-height: 765px;
    }
  }
}