@import '../../SCSS-utils/mixins';
@import '../../SCSS-utils/variables';

.header {
  display: flex; 
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    display: block;
  }

  &__open-menu {
    background-color: transparent;
    color: $text-color-main;
    border: 1px solid $text-color-main;
    border-radius: 10%;
    cursor: pointer;
  }
}