@import './SCSS-utils/variables';
@import './SCSS-utils/mixins';

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background-main;

  &__container {
    position: relative;
    margin: auto;
    padding: 0 15px;
    max-width: 1480px;

    @include onTablet {
      padding: 0 25px;
    }

    @include onDesktopM {
      padding: 0 40px;
    }

    @include onDesktopL {
      padding: 0 60px;
    }
  }

  &__header {
    margin-bottom: 1rem;

    @include onTablet {
      margin-bottom: 3rem
    }
  }

  &__open-menu {
    background-color: transparent;
    color: $text-color-main;
    border: 1px solid $text-color-main;
    border-radius: 25%;
    cursor: pointer;
  }

  &__title {
    height: 70px;
    line-height: 70px;
    font-family: 'Romanesco', cursive;
    font-size: 3rem;
    font-weight: 400;

    @include onTablet {
      height: 100px;
      line-height: 100px;
    }

    @include onDesktopM {
      height: 140px;
      line-height: 140px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    width: 100%;

    @include onTablet {
      overflow-x: visible;
    }
  }
}
